services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: mediamtx
    restart: unless-stopped
    network_mode: host
    environment:
      - MTX_CONFIGPATH=/config/mediamtx.yml
    volumes:
      - ./config:/config
